/* Estilos básicos de reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo e do cabeçalho */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4b754b; /* Fundo verde claro */
    color: #fff; /* Texto branco */
    background-image: url('https://i.ibb.co/MNYwFCc/Logo-War.png');
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
}

header {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
    padding: 20px;
    text-align: center;
    color: #fff; /* Texto branco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100vw; /* Ajuste para ocupar toda a largura da viewport */
    box-sizing: border-box; /* Inclui o padding e borda dentro da largura */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'Arial Black', Gadget, sans-serif; /* Fonte estilizada */
    z-index: 1000;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff; /* Texto branco */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s, transform 0.3s; /* Adicionado transformação para efeito flutuante */
}

nav ul li a:hover {
    color: #fff;
    border-color: #00ff00;
    transform: scale(1.1); /* Efeito de lupa */
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
}

h1 {
    font-size: 4em;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: transparent;
    color: #fff; /* Texto branco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra escura */
}
.elfsight-app-9366d66b-e4d8-4c9b-9cb3-8aee6d05db03 {}

#leao {
    width: 150px;
    height: auto;
    margin-right: 10px; /* Reduzido o espaçamento para aproximar o texto da imagem */
}
.icones {margin-left: 900px; /* Ajuste o valor conforme necessário */}
.h2-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

h2 {
    font-size: 2em;
    color: #fff; /* Texto branco */
    text-shadow: 3px 3px 5px #1fa782b3; /* Sombra escura para efeito 3D */
}

.inicio-container, .photo-gallery, .player-profiles {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: #fff; /* Texto branco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra escura */
}

.photo-gallery img {
    width: 200px;
    height: auto;
    border: 3px solid #fff; /* Borda branca */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.player-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Estilos para os botões "Anterior" e "Próximo" */
.video-button {
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    margin: 10px; /* Ajuste a margem conforme necessário */
    background-color: hwb(122 4% 65% / 0.374); /* Cor de fundo padrão */
    color: hsl(150, 4%, 91%); /* Cor do texto */
    border: none; /* Sem borda */
    cursor: pointer; /* Cursor ao passar */
    font-size: 25px; /* Tamanho da fonte */
    font-family: Arial, sans-serif; /* Fonte */
}

/* Estilo ao passar o mouse sobre os botões */
.video-button:hover {
    background-color: #084a0abd; /* Cor de fundo ao passar o mouse */
}


.player {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
    padding: 20px;
    border-radius: 10px;
    color: #fff; /* Texto branco */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 10%; /* Ajustar a largura do contêiner do jogador */
    margin: 10px; /* Espaçamento entre jogadores */
    display: inline-block; /* Exibir os jogadores lado a lado */
    vertical-align: top; /* Alinhar ao topo */
}

.player img {
    width: 100%; /* Ajustar a largura da imagem para ocupar todo o espaço disponível */
    height: auto; /* Altura automática proporcional */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

footer {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff; /* Texto branco */
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .player {
        width: calc(100% - 20px); /* Ajusta para ocupar a largura total em telas menores */
    }

    /* Ajuste para perfis de jogadores em telas menores */
    .player-profiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .photo-gallery img {
        width: 100%; /* Imagens ocupam toda a largura em telas menores */
        margin-bottom: 20px; /* Espaçamento entre imagens */
    }
}