body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4b754b; /* Fundo verde claro */
    color: #fff; /* Texto branco */
    background-image: url('https://i.ibb.co/MNYwFCc/Logo-War.png');
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
}

header {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
    padding: 20px;
    text-align: center;
    color: #fff; /* Texto branco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'Arial Black', Gadget, sans-serif; /* Fonte estilizada */
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff; /* Texto branco */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s, transform 0.3s; /* Adicionado transformação para efeito flutuante */
}

nav ul li a:hover {
    color: #fff;
    border-color: #00ff00;
    transform: scale(1.1); /* Efeito de lupa */
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
}

h1 {
    font-size: 4em;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: transparent;
    color: #fff; /* Texto branco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra escura */
}

h2 {
    font-size: 2em;
    margin-top: 40px;
    color: #fff; /* Texto branco */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Sombra escura para efeito 3D */
}

.inicio-container, .photo-gallery, .player-profiles {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: #fff; /* Texto branco */
}

.photo-gallery img {
    width: 200px;
    height: auto;
    border: 3px solid #fff; /* Borda branca */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.player-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.player {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
    padding: 20px;
    border-radius: 10px;
    color: #fff; /* Texto branco */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: calc(45% - 20px); /* Largura do perfil, com margem */
    margin: 10px; /* Espaçamento entre jogadores */
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .player {
        width: calc(100% - 20px); /* Ajusta para ocupar a largura total em telas menores */
    }
}

.player img {
    width: 50px;
    height: auto;
    border: 3px solid #fff; /* Borda branca */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

footer {
    background: linear-gradient(45deg, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradê verde para preto claro */
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff; /* Texto branco */
}
